.site-footer {
  background: #d1a7a7;
  color:black;
  padding-top: 60px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;

  padding-bottom: 40px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 20px;
  color: black;
}

.footer-section p {
  line-height: 1.8;
  color: black;
}

.footer-section a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #f9fbfd;
  transform: translateX(5px);
}

.footer-section p svg {
  margin-right: 10px;
  color: black;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  background: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #d4af37;
  color: #000;
  transform: translateY(-5px);
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding: 20px 10px;
  color: black;
  font-size: 15px;
}
